<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>153534864552-sl1ck3fegqggppnu0mmtv1e85q03odl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153534864552-sl1ck3fegqggppnu0mmtv1e85q03odl9</string>
	<key>API_KEY</key>
	<string>AIzaSyBMe4vvAfGJcka-lgAyjIPEUgSN6vpm0-0</string>
	<key>GCM_SENDER_ID</key>
	<string>153534864552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jamiljalal.driversOnly</string>
	<key>PROJECT_ID</key>
	<string>driversonly-39910</string>
	<key>STORAGE_BUCKET</key>
	<string>driversonly-39910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153534864552:ios:75fbe842e3b7fd5d</string>
	<key>DATABASE_URL</key>
	<string>https://driversonly-39910.firebaseio.com</string>
</dict>
</plist>